<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}

  <title>Atlit Riau dan Kepulauan Riau</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/main.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">

  {% endblock %}

</head>
<body>

  <!-- Message flashing -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li class="">Message: {{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

  <!-- Navbar -->
  <nav class="mb-5 navbar navbar-dark bg-dark text-light">
    <div class="container">
      <a href="{{ url_for('home') }}" class="text-decoration-none text-light">
        <span>Satu Data | Olahraga Renang</span>
      </a>
      <span>Provinsi Riau dan Kepulauan Riau</span>
    </div>
  </nav>
  
  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <nav class="navbar navbar-light bg-secondary text-white">
    <div class="container">
      <span>Dibuat dengan: Flask</span>
    </div>
  </nav>

  <!-- Javascript Files -->
  {% block scripts %}
	<script src="{{ url_for("static", filename="js/main.js") }}" defer></script>
	<script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}" defer></script>
	{% endblock %}

</body>
</html>