{% extends "base.html" %}

{% block content %}
<h1 class="home-title">Pencarian Atlet</h1>

<!-- Search Bar -->
<div class="search-bar-wrapper">
  <form method="get">
    <!-- Query Input -->
    <input type="text" placeholder="Masukkan Nama Atlet" name="query">
    
    <!-- Database Type -->
    <br>
    <input type="radio" id="html" name="database" value="MongoDB" checked="checked">
    <label for="html">MongoDB</label>
    <input type="radio" id="css" name="database" value="ElasticSearch">
    <label for="css">ElasticSearch</label>
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Submit">
  </form>
  <div class="search-bar"></div>
  <i class="search-icon"></i>
</div>

<!-- Search Results -->
{% if True %}
{% endif %}
<div class="search-result-wrapper">
  <p class="search-result-time">Waktu pencarian: 10 detik</p>
  <table class="search-result-table">
    
    <!-- Athlete Fields -->
    <tr>
      {% for field in athlete_fields %}
        <th>{{ field }}</th>
      {% endfor %}
    </tr>

    <!-- Athlete Data -->
    {% for athlete in athletes %}
      <tr>
        {% for field in athlete_fields %}
          <td>{{ athlete.get(field) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    
  </table>
</div>

{% endblock %}