{% extends "base.html" %}

{% block content %}
<h1 class="home-title">Pencarian Atlet</h1>

<!-- Search Bar -->
<div class="search-bar-wrapper">
  <form method="get">
    <!-- Query Input -->
    <input type="text" placeholder="Masukkan Nama Atlet" name="query">
    
    <!-- Database Type -->
    <br>
    <input type="radio" id="html" name="database" value="MongoDB">
    <label for="html">MongoDB</label>
    <input type="radio" id="css" name="database" value="ElasticSearch">
    <label for="css">ElasticSearch</label><br>

    <!-- Submit Button -->
    <input type="submit" value="Submit">
  </form>
  <div class="search-bar"></div>
  <i class="search-icon"></i>
</div>

<!-- Search Results -->
{% if True %}
{% endif %}
<div class="search-result-wrapper">
  <p class="search-result-time">Waktu pencarian: 10 detik</p>
  <table class="search-result-table">
    <tr>
      <th>Athlete_ID</th>
      <th>Athlete_Name</th>
      <th>NISNAS</th>
      <th>DoB</th>
      <th>Sex</th>
      <th>Level</th>
      <th>Current_School</th>
      <th>Current_Club</th>
      <th>Current_City</th>
      <th>Current_Province</th>
    </tr>
    {% for athlete in athletes %}
      <tr>
        <td>{{ athlete["Athlete_ID"] }}</td>
        <td>{{ athlete["Athlete_Name"] }}</td>
        <td>{{ athlete["NISNAS"] }}</td>
        <td>{{ athlete["DoB"] }}</td>
        <td>{{ athlete["Sex"] }}</td>
        <td>{{ athlete["Level"] }}</td>
        <td>{{ athlete["Current_School"] }}</td>
        <td>{{ athlete["Current_Club"] }}</td>
        <td>{{ athlete["Current_City"] }}</td>
        <td>{{ athlete["Current_Province"] }}</td>

      </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}